.coin-container >div> div{
  text-align:center !important;
}
.coin-image{
  height: 30px;
  width: 30px;
}
.coin-name{
  font-size: 20px;
  font-weight: bold;
}
.red {
  color: #f00606;
}

.green {
  color: #11d811;
}